<template>
	<div>
	<h1>
		{{ $t("addProduct.title") }}
	</h1>
	<form v-on:submit.prevent="submit">
		<formly-form
			:form="form"
			:model="model"
			:fields="fields"
			ref="form1"
		>
		</formly-form>
		<button type="submit">{{ $t("addProduct.btnSubmit") }}</button>
	</form>
	</div>
</template>

<script>
import productsService from '@/services/products'

export default {
	name: 'AddProduct',

	methods: {
		submit () {
			this.$refs.form1.validate()
				.then(() => {
					if (this.form.$valid) {
						productsService.post({
							data: this.model,
							success: this.submitSuccess,
							error: this.submitError
						})
					}
				})
		},
		submitSuccess (response) {
			console.log(response)
		},
		submitError () {
			console.error('Something went wrong when adding a new product')
		}
	},

	data () {
		return {
			form: {},
			model: {},
			fields: [
				{
					key: 'idProduct',
					type: 'input',
					required: true,
					templateOptions: {
						label: 'addProduct.iptIdProduct'
					}
				},
				{
					key: 'name',
					type: 'input',
					required: true,
					templateOptions: {
						label: 'addProduct.iptName'
					}
				},
				{
					key: 'category',
					type: 'select',
					templateOptions: {
						label: 'addProduct.iptCategory'
					},
					options: [
						'cat1',
						'cat2',
						'cat3',
						'cat4'
					]
				},
				{
					key: 'description',
					type: 'textarea',
					required: true,
					templateOptions: {
						label: 'addProduct.iptDescription'
					}
				}
			]
		}
	}
}
</script>

<style>
h1 {
	color: red;
}

form {text-align: left;}

.form-group.has-error input,
.form-group.has-error textarea {
	border-color: red;
}
</style>