<template>
	<div class="hello">
		<h1>{{ $t("home.title") }}</h1>
		<ul>
			<li>
				<router-link to="/add-product" tag="li">
					<a>{{ $t("addProduct.title") }}</a>
				</router-link>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'Home',
	data () {
		return {}
	}
}
</script>

<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}
</style>
