<template>
	<div id="app">
		<img src="./assets/logo.png">
		<div>
			<!-- selector -->
			<select v-model="$i18n.locale">
				<option value="en">English</option>
				<option value="pt-br">Português</option>
			</select>
		</div>
		<router-view/>
	</div>
</template>

<script>
export default {
	name: 'app'
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
</style>
